<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="platform" value="Android"/>
        <add key="appPackage" value="com.companyname.EAXamarinApp"/>
        <add key="appPath" value="../../../EAXamarinApp/EAXamarinApp.iOS/bin/iPhone/Debug/device-builds/iphone10.2-12.1.4/EAXamarinApp.iOS.app"/>
        
  </appSettings>      
</configuration>
